Body {
    background-color: var(--white);
}

.container {
    max-width: 1280px;
}

h2 {
    font-family: var(--roboto);
    font-weight: 800;
    font-size: 72px;
    line-height: 110%;
    color: var(--blue-gray-900);
}

h3 {

}

p {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--blue-gray-600);
}

.logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin: 0px;
}
