Body {
    background-color: var(--white);
    overflow-x: hidden;
}

.container {

    max-width: 1440px; 
    max-width: 1280px;
    margin: auto;
}


h2 {
    font-family: var(--roboto);
    font-weight: 800;
    font-size: 72px;
    line-height: 110%;
    color: var(--blue-gray-900);
}

h3 {
    font-family: var(--roboto);
    font-weight: 800;
    font-size: 56px;
    line-height: 110%;
    color: var(--blue-gray-900);
}

p {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--blue-gray-600);
}


a, button {
    cursor: pointer;
    font-family: var(--roboto);
}

@media (max-width: 393px) {

    .container {
        max-width: 100%;
        max-width: 393px
    }

}

h3, h2, p {
    cursor: default;
}


*::selection {
    background-color: rgba(104, 182, 255, 0.452);
}

.containers--gap {
    margin-top: 160px;
}

.containers--gap-80 {
    margin-top: 80px;
}