:root {
	--blue-gray-900: #0F172A;
	--blue-gray-600: #475569;
	--blue-gray-200: #E2E8F0;
	--accent: #2563EB;
	--accent-hover: #2f6ef7;
	--white: #fff;
	--roboto: 'Roboto';
	--open-sans: 'Open Sans';
}