
.container--main {
    max-width: 1440px;
    
}

.main__inner {
    position: relative;
    display: flex;
    gap: 80px;
    padding: 80px 80px;
    border-bottom: 1px solid var(--blue-gray-200);
}

.main__img {
    object-fit: contain;
    z-index: 1;
}

.main__sparks {
    position: absolute;
    right: 0px;
    bottom: 0px;
    user-select: none
}

.main__content {
    display: grid;
    row-gap: 24px;
    align-content: center;
}

.main__title {
    margin: 0px;
}

.main__text {
    margin: 0px;
}

.main__bottom {
    display: flex;
    flex-direction: column (2);
    gap: 16px;
    max-width: 600px;
    justify-content:space-around;
}

.main__form {
    max-width: 400px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    padding: 0px 16px;
    box-sizing: border-box;
}

.main__formicon {
    height: 24px;
    width: 24px;
}

#input1 {
    width: 60%;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--blue-gray-600);
    
}



@media (max-width: 1300px) {

    .container--main {
        padding: 0px;
    }

    .main__title {
        font-size: 62px;
    }

    .main__img {
        max-width: 550px;
    }

    .main__form {
        max-width: 350px;
    }

    .main__inner {
        padding: 80px 50px;
    }
}

@media (max-width: 1200px) {

    .main__title {
        font-size: 58px;
    }

    .main__img {
        max-width: 500px;
    }
}

@media (max-width: 992px) {

    .main__inner {
        gap: 40px;
    }

    .main__title  {
        font-size: 50px;
    }
    
    .main__img {
        max-width: 410px;
    }

    .main__bottom {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .main__sparks {
        display: none;
    }

    .main__inner {
        display: flex;
        flex-direction: column;
    }

    .main__img {
        max-width: max-content;
    }

    .main__content {
        align-content: center;
        text-align: center;
        max-width: 90%;
        margin: auto;
    }

    .main__bottom {
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 610px) {
    .main__inner {
        padding: 60px 20px
    }
}

@media (max-width: 468px) {
    .main__inner {
        padding: 48px 16px;
        gap: 48px;
    }
    .main__content {
        text-align: left;
        margin: 0px;
    }
    .main__bottom {
        max-width: 100%;
        
    }
}