.working__inner {
    display: flex;
    gap: 80px;
}

.working__inner--gap {
    margin-top: 80px;
}

.working__content {
    display: grid;
    align-content: center;
    gap: 24px;
}

.working__title {
    margin: 0px;
}

.working__text {
    margin: 0px;
}

.working__link {
    max-width: max-content;
    padding: 12px 0px 12px 0px;
    display: flex;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--accent);
    transition: color .2s, transform .2s;

    @media (min-width: 394px) {
        &:hover {
            color: var(--accent-hover);
            transform: scale(1.1);
        }

    }

}

.working__inner--reverse {
    display: flex;
    flex-direction: row-reverse;
}

.working__img {
    object-fit: contain;
    z-index: 1;
}

.working__img-rev {
    padding-right: 70px;
}


@media (max-width: 393px) {

    .working__inner {
        display: flexbox;
        gap: 0px;
        margin: 0px;
        padding: 16px;
        width: 100%;
    }

    .working__img {
        
    }

    .working__title {
        font-weight: 700;
        font-size: 40px;
    }

    .working__text {
        font-size: 16px;
        line-height: 140%;
        color: var(--blue-gray-900);
    }

}