.btn {
    display: flex;
    max-width: max-content;
    min-width: max-content;
    align-content: center;
    gap: 16px;
    background-color: var(--accent);
    padding: 12px 12px 12px 28px;
    color: var(--white);
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    transition: background-color .2s;

    &:hover {
        background-color: var(--accent-hover);
    }

    
}