
.footer__inner {
    margin: 80px 80px;
    display: flex;
    justify-content: space-between;
}

.footer__content {
    display: flex;
    gap: 8px;
}

.footer__logo {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    margin: 0px;
    color: var(--blue-gray-900);
}

.footer__company {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--blue-gray-600);
}

.footer__links {
    display: inline-flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
}

.footer__link {
    color: var(--blue-gray-600);
    transition: color .2s;
    
    &:hover {
        color: var(--accent);
    }
}